In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_selection import f_regression, SelectKBest
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

In [3]:
df=pd.read_csv("C:/Users/SAMHITA/OneDrive/Desktop/SEM-2/Indrani Mam/Boston.csv")

In [5]:
X = df.iloc[:,1:14]
y = df.iloc[:,-1]

In [6]:
X

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [7]:
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: medv, Length: 506, dtype: float64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  506 non-null    int64
 1   crim        506 non-null    float64
 2   zn          506 non-null    float64
 3   indus       506 non-null    float64
 4   chas        506 non-null    int64
 5   nox         506 non-null    float64
 6   rm          506 non-null    float64
 7   age         506 non-null    float64
 8   dis         506 non-null    float64
 9   rad         506 non-null    int64
 10  tax         506 non-null    int64
 11  ptratio     506 non-null    float64
 12  black       506 non-null    float64
 13  lstat       506 non-null    float64
 14  medv        506 non-null    float64
dtypes: float64(11), int64(4)
memory usage: 59.4 KB

In [9]:
df.isnull().sum()

Unnamed: 0    0
crim          0
zn            0
indus         0
chas          0
nox           0
rm            0
age           0
dis           0
rad           0
tax           0
ptratio       0
black         0
lstat         0
medv          0
dtype: int64

In [10]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [41]:
# train test split

X_tr,X_test,y_tr,y_test=train_test_split(X,y,test_size=.2,random_state=100)

In [42]:
# select top k features using f_regression
selector = SelectKBest(f_regression, k=5)

In [48]:
selector.fit_transform(X_tr,y_tr)

array([[ 18.1  ,   6.223, 666.   ,  20.2  ,  21.78 ],
       [  9.9  ,   6.122, 304.   ,  18.4  ,   5.98 ],
       [ 19.58 ,   6.943, 403.   ,  14.7  ,   4.59 ],
       ...,
       [  7.38 ,   5.708, 287.   ,  19.6  ,  11.74 ],
       [  3.33 ,   7.82 , 216.   ,  14.9  ,   3.76 ],
       [  7.87 ,   5.631, 311.   ,  15.2  ,  29.93 ]])

In [49]:
X_new= selector.get_support(indices=True)

In [50]:
X_new

array([ 2,  5,  9, 10, 12], dtype=int64)

In [66]:
X_selected=X_train.iloc[:,X_new]

In [67]:
X_selected

     indus     rm  tax  ptratio  lstat
379  18.10  6.223  666     20.2  21.78
311   9.90  6.122  304     18.4   5.98
157  19.58  6.943  403     14.7   4.59
244   5.86  5.593  330     19.1  12.50
56    0.74  6.383  313     17.3   5.77
..     ...    ...  ...      ...    ...
343   3.78  6.696  370     17.6   7.18
359  18.10  6.112  666     20.2  12.67
323   7.38  5.708  287     19.6  11.74
280   3.33  7.820  216     14.9   3.76
8     7.87  5.631  311     15.2  29.93

[404 rows x 5 columns]

In [68]:
X_new_test=X_test.iloc[:,X_new]

In [69]:
X_new_test

     indus     rm  tax  ptratio  lstat
198   1.52  7.274  329     12.6   6.62
229   6.20  6.552  307     17.4   3.76
502  11.93  6.120  273     21.0   9.08
31    8.14  6.072  307     21.0  13.04
315   9.90  5.705  304     18.4  11.50
..     ...    ...  ...      ...    ...
166  19.58  7.929  403     14.7   3.70
401  18.10  6.343  666     20.2  20.32
368  18.10  4.970  666     20.2   3.26
140  21.89  6.174  437     21.2  24.16
428  18.10  6.193  666     20.2  21.52

[102 rows x 5 columns]

In [75]:
X_train_new=selector.transform(X_tr)

In [76]:
X_test_new=selector.transform(X_test)

In [77]:


# fit a linear regression model using selected features
model = LinearRegression()
model.fit(X_train_new, y_train)

LinearRegression()

In [78]:

# make predictions on train and test set
y_train_pred = model.predict(X_train_new)
y_test_pred = model.predict(X_test_new)

In [79]:

# evaluate the model's performance on train and test set
print('Train set - R2 score: {:.2f}, MSE: {:.2f}'.format(r2_score(y_train, y_train_pred), 
                                                         mean_squared_error(y_train, y_train_pred)))
print('Test set - R2 score: {:.2f}, MSE: {:.2f}'.format(r2_score(y_test, y_test_pred), 
                                                        mean_squared_error(y_test, y_test_pred)))

Train set - R2 score: 0.67, MSE: 26.63
Test set - R2 score: 0.70, MSE: 28.77

In [84]:

# get the regression coefficients
coeffs = model.coef_

print("Regression coefficients:", coeffs)

Regression coefficients: [ 3.15109778e-02  4.42272838e+00 -2.92861007e-03 -8.90751219e-01
 -5.32803009e-01]